@model adminlte.TASRegistroNotasService.TASRegistroNotasEstudianteEntity

@{
    ViewBag.Title = "TASEstudianteNotasGrilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Estudiante
            <small>Notas</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Estudiante</a></li>
            <li class="active">Notas</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">CIAC TAS</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*<form role="form">*@
            <div class="box-body table-responsive">
                @*<p>
            @Html.ActionLink(" ", "ASATransaccionEstudianteNuevo", null, new { @class = "glyphicon glyphicon-plus ", style = "font-size:20px;" })
        </p>*@
                <br />
                <h1>@Model.Materia</h1>
                <table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre Progreso</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var etTASRegistroNotas = (adminlte.TASRegistroNotasService.TASRegistroNotasEntity)ViewBag.ltTASRegistroNotas;
                            List<string> NombreReferenciaProgreso = etTASRegistroNotas.NombreReferenciaProgreso.Split(new string[] { "*.-Split-.*" }, StringSplitOptions.None).ToList();
                            string NombreReferenciaDominio = etTASRegistroNotas.NombreReferenciaDominio;

                            var ltProgreso = Model.Progreso1P.Split(new string[] { "*.-Split-.*" }, StringSplitOptions.None).ToList();
                            for (int cont = 0; cont < ltProgreso.Count; cont++)
                            {
                                <tr>
                                    <td>@NombreReferenciaProgreso[cont]</td>
                                    <td>@ltProgreso[cont]</td>
                                </tr>
                            }

                            <tr>
                                <td>@NombreReferenciaDominio</td>
                                <td>@Model.Dominio1D</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>NOTA FINAL</td>
                            <td>@ViewBag.NotaFinalCalculada</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.box-body -->
            @*</form>*@

        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<style>

    .table-pager-footer > td {
        padding-top: 10px;
    }

        .table-pager-footer > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager-footer > td > a:hover {
                background-color: #f0f0f0;
            }
</style>