
@model adminlte.TASEstudianteService.TASEstudianteSet

@{
    ViewBag.Title = "TASEstudianteEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Admin
            <small>Estudiante</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Admin</a></li>
            <li class="active">Estudiante</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div id="msjContainer"></div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @*<form action="@Url.Action("TASEstudianteEditar","TASEstudiante", new {EstudianteCI = Model.ltTASEstudiante[0].EstudianteCI })" method="post" role="form" enctype="multipart/form-data">*@

                <div class="box-header with-border">
                    <h3 class="box-title">CIAC TAS</h3>
                </div>
                <!-- /.box-header -->
                <div class="col-sm-11">
                    @Html.ActionLink(" ", "TASEstudianteLista", null, new { @class = "glyphicon glyphicon-circle-arrow-left ", style = "font-size:28px;" })
                </div>
                <div class="col-sm-1">
                    @Html.ActionLink(" ", "TASEstudianteLista", null, new { @class = "glyphicon glyphicon glyphicon-download-alt ", style = "font-size:28px;" })
                </div>
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body table-responsive">

                    <div class="form-group">
                        @Html.Label("Estudiante CI")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].EstudianteCI, new { @class = "form-control allownumericNoDecimal", disabled = "disabled", @readonly = "readonly" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].EstudianteCI, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ltTASEstudiante[0].EstudianteCI)
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Programa")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-archive"></i>
                            </div>
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].Programa, new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.ltTASEstudiante[0].Programa, new SelectList(@ViewBag.ltTASPrograma as System.Collections.IEnumerable, Model.ltTASEstudiante[0].Programa), "Programa", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Programa, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Grupo")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-group"></i>
                            </div>
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].EstudianteCI, new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.ltTASEstudiante[0].Grupo, new SelectList(@ViewBag.ltTASGrupo as System.Collections.IEnumerable, Model.ltTASEstudiante[0].Grupo), "Grupo", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].EstudianteCI, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Fecha")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Fecha, String.Format("{0:dd/MM/yyyy}", @Model.ltTASEstudiante[0].Fecha), new { @class = "form-control pull-right" })
                            @*@Html.EditorFor(model => model.ltTASEstudiante[0].Fecha, new { @class = "form-control" })*@
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Fecha, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Nombre1")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Nombre1, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Nombre1, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Nombre2")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Nombre2, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Nombre2, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Apellido1")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Apellido1, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Apellido1, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Apellido2")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Apellido2, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Apellido2, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Lugar Nacimiento")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-o"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].LugarNacimiento, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].LugarNacimiento, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Sexo")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-intersex"></i>
                            </div>
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].Sexo, new { @class = "form-control" })*@
                            @Html.DropDownList("Sexo", ViewBag.ltSexo as SelectList, "Sexo", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Sexo, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Fecha Nacimiento")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].FechaNacimiento, String.Format("{0:dd/MM/yyyy}", @Model.ltTASEstudiante[0].FechaNacimiento), new { @class = "form-control pull-right" })
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].FechaNacimiento, new { @class = "form-control" })*@
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].FechaNacimiento, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Nacionalidad")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-flag-checkered"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Nacionalidad, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Nacionalidad, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Estado Civil")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-tasks"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].EstadoCivil, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].EstadoCivil, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Domicilio")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-signs"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Domicilio, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Domicilio, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Telefono")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Telefono, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Telefono, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Celular")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Celular, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Celular, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Telefono Familiar")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].TelefonoFamiliar, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].TelefonoFamiliar, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Correo")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-inbox"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].Correo, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].Correo, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Nombre Padre")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-male"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].NombrePadre, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].NombrePadre, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Celular Padre")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-male"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].CelularPadre, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].CelularPadre, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Nombre Tutor")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-female"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].NombreTutor, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].NombreTutor, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Celular Tutor")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-female"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].CelularTutor, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].CelularTutor, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Vacuna Antitetanica")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-columns"></i>
                            </div>
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].EstudianteCI, new { @class = "form-control" })*@
                            @Html.DropDownList("VacunaAntitetanica", (SelectList)@ViewBag.ltVacunaAntitetanica, "Vacuna Antitetanica", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].VacunaAntitetanica, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Examen Psicofisiologico")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].EstudianteCI, new { @class = "form-control" })*@
                            @Html.DropDownList("ExamenPsicofisiologico", (SelectList)@ViewBag.ltExamenPsifisiologico, "Examen Psicofisiologico", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].EstudianteCI, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>


                    <div class="form-group">
                        @Html.Label("Codigo Seguro")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-minus-square"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].CodigoSeguro, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].CodigoSeguro, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Fecha Seguro")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ltTASEstudiante[0].FechaSeguro, String.Format("{0:dd/MM/yyyy}", @Model.ltTASEstudiante[0].FechaSeguro), new { @class = "form-control pull-right" })
                            @*@Html.TextBoxFor(model => model.ltTASEstudiante[0].FechaSeguro, new { @class = "form-control" })*@
                            @*@Html.DropDownListFor(model => model.ltTASEstudiante[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].FechaSeguro, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>


                    <div class="form-group">
                        @Html.Label("Instruccion Previa")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            @*@Html.TextAreaFor(model => model.ltTASEstudiante[0].Observaciones, new { @class = "form-control" })*@
                            @Html.DropDownList("InstruccionPrevia", (SelectList)@ViewBag.ltSiNoInstruccionPrevia, "Instruccion Previa", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].InstruccionPrevia, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Experiencia Previa")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                            @*@Html.TextAreaFor(model => model.ltTASEstudiante[0].Observaciones, new { @class = "form-control" })*@
                            @Html.DropDownList("ExperienciaPrevia", (SelectList)@ViewBag.ltSiNoExperienciaPrevia, "Experiencia Previa", new { @class = "form-control controlar" })
                            @Html.ValidationMessageFor(model => model.ltTASEstudiante[0].ExperienciaPrevia, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
                @*</form>*@
                @*</form>*@
            }
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section scripts
{

    <script type="text/javascript">

     $(document).ready(function () {
        var MensajeError = '@ViewBag.MensajeError';
        if (MensajeError != null ) {
            if (MensajeError != "") {
                muestraMesanje(3,MensajeError);
            }
        }

         $(".allownumericNoDecimal").on("keypress keyup blur", function (event) {
             //this.value = this.value.replace(/[^0-9\.]/g,'');
             $(this).val($(this).val().replace(/[^0-9]/g, ''));
             if(event.which != 44 && (event.which < 48 || event.which > 57)) {
                 event.preventDefault();
             }
         });

         //Date picker
         $('#ltTASEstudiante_0__Fecha,#ltTASEstudiante_0__FechaNacimiento,#ltTASEstudiante_0__FechaSeguro').datepicker({
             autoclose: true,
             beforeShowDay: $.noop,
             calendarWeeks: false,
             clearBtn: false,
             daysOfWeekDisabled: [],
             endDate: Infinity,
             forceParse: true,
             format: 'dd/mm/yyyy',
             keyboardNavigation: true,
             language: 'es',
             minViewMode: 0,
             orientation: "bottom auto",
             rtl: false,
             startDate: -Infinity,
             startView: 2,
             todayBtn: false,
             todayHighlight: false,
             weekStart: 0

         })
    });

    function muestraMesanje(tipo, msj) {

        $("#msjContainer").html('');

        if (tipo == 1) {
            $("#msjContainer").append('<div class="alert alert-success alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<strong>Operacion realizada exitosamente.</strong>&nbsp;' + msj + '</div>')
        } else if (tipo == 2) {
            $("#msjContainer").append('<div class="alert alert-danger alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;<strong>Error:</strong>' + msj + '</div>')
        } else if (tipo == 3) {
            $("#msjContainer").append('<div class="alert alert-warning alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;<strong>Atencion:&nbsp;</strong>' + msj + '</div>')
        }

    }
    </script>

}
