@model adminlte.Models.ThumbnailViewModel
@{
    ViewBag.Title = "ASACuestionarioExamen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Preguntas ASA
            <small>Cuestionario preguntas ASA</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examen</a></li>
            <li class="active">Preguntas ASA</li>
        </ol>
    </section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="tiempoRestantediv box-header with-border">
                    <h3 class="tiempoRestante box-title">Cuestionario - Tiempo Restante: <b>@ViewBag.TiempoRestante</b></h3>
                    <div class="box-tools pull-right">
                        @*<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fa fa-times"></i>
                                </button>*@
                    </div>
                </div>
                @*<form action="@Url.Action("ASACuestionarioExamen","ASACuestionario")" method="post">*@
                <div class="box-body">
                    <!-- GROUPING -->
                    <div class="container">
                        <div>
                            <div class="row">
                                <nav aria-label="...">
                                    <ul class="pager" role="tablist">
                                        <li class="previous" onclick="goTo(1);"><a href="#"><span aria-hidden="true">←</span> Previous</a></li>
                                        @{
                                            foreach (var item in Model.ThumbnailModelList)
                                            {
                                                if (item.Thumbnail_ItemPosition == "first")
                                                {
                                                    <li class="active" id="@item.Thumbnail_ItemPosition">
                                                        <a aria-controls="@item.Thumbnail_Aria_Controls" data-toggle="tab" href="@item.Thumbnail_Href" role="tab">@item.ThumbnailTabNo</a>
                                                    </li>
                                                }


                                                else if (item.Thumbnail_ItemPosition == "last")
                                                {
                                                    <li id="@item.Thumbnail_ItemPosition">
                                                        <a aria-controls="@item.Thumbnail_Aria_Controls" data-toggle="tab" href="@item.Thumbnail_Href" role="tab">@item.ThumbnailTabNo</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a aria-controls="@item.Thumbnail_Aria_Controls" data-toggle="tab" href="@item.Thumbnail_Href" role="tab">@item.ThumbnailTabNo</a>
                                                    </li>
                                                }

                                            }
                                        }
                                        <li class="next" onclick="goTo(2);"><a href="#">Next <span aria-hidden="true">→</span></a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content">

                                @{
                                    foreach (var item in Model.ThumbnailModelList)
                                    {
                                        if (item.Thumbnail_ItemPosition == "first")
                                        {

                                            <div class="tab-pane active" id="@item.ThumbnailTabId" role="tabpanel">

                                                @{
                                                    foreach (var detailsitem in item.ltASAPregunta)
                                                    {
                                                        <div class="col-sm-12">
                                                            <div class="thumbnail">

                                                                <div class="caption">
                                                                    <h3>@detailsitem.ltASAPregunta.First().Pregunta</h3>
                                                                    @*<p>
                                                                            @detailsitem.Pregunta
                                                                        </p>*@
                                                                    <div class="form-group">
                                                                        @{
                                                                            foreach (var respuesta in detailsitem.ltASAPreguntaRespuesta)
                                                                            {
                                                                                @*<div class="checkbox">
                                                                                        <label>
                                                                                            <input type="checkbox" id="@respuesta.NroPregunta+'-'+@respuesta.Opcion">
                                                                                            @respuesta.Respuesta
                                                                                        </label>
                                                                                    </div>*@
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @if (respuesta.TipoPregunta == "Marcado")
                                                                                        {
                                                                                            <input class="checkboxCuestionario" onclick="checkFluency(this)" type="radio" name="optionsRadios+@respuesta.NroPregunta" id="@respuesta.NroPregunta-@respuesta.Opcion" checked="checked">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input class="checkboxCuestionario" onclick="checkFluency(this)" type="radio" name="optionsRadios+@respuesta.NroPregunta" id="@respuesta.NroPregunta-@respuesta.Opcion">
                                                                                        }
                                                                                        @respuesta.Respuesta
                                                                                    </label>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }


                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tab-pane" id="@item.ThumbnailTabId" role="tabpanel">

                                                @{

                                                    foreach (var detailsitem in item.ltASAPregunta)
                                                    {
                                                        <div class="col-sm-12">
                                                            <div class="thumbnail">

                                                                <div class="caption">
                                                                    <h3>@detailsitem.ltASAPregunta.First().Pregunta</h3>
                                                                    @*<p>
                                                                            @detailsitem.Pregunta
                                                                        </p>*@
                                                                    <div class="form-group">
                                                                        @{
                                                                            foreach (var respuesta in detailsitem.ltASAPreguntaRespuesta)
                                                                            {
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @if (respuesta.TipoPregunta == "Marcado")
                                                                                        {
                                                                                            <input class="checkboxCuestionario" onclick="checkFluency(this)" type="radio" name="optionsRadios+@respuesta.NroPregunta" id="@respuesta.NroPregunta-@respuesta.Opcion" checked="checked">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input class="checkboxCuestionario" onclick="checkFluency(this)" type="radio" name="optionsRadios+@respuesta.NroPregunta" id="@respuesta.NroPregunta-@respuesta.Opcion">
                                                                                        }
                                                                                        @respuesta.Respuesta
                                                                                    </label>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }


                                            </div>
                                        }

                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <!-- /.GROUPING -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <!-- /.col -->
                    <div class="col-xs-12 text-center">
                        <button type="button" id="btnAceptar" class="btn btn-primary btn-block btn-flat">Terminar Quiz</button>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.box-footer-->
                @*</form>*@
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    }


</div>
<!-- /.content-wrapper -->
<!-- jQuery 3 -->
<script src="~/Scripts/adminlte/components/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Scripts/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/Scripts/adminlte/js/adminlte.min.js"></script>
<style>
    .pager .active a {
        background-color: #337AB7;
        color: #FFF;
        border: 0px;
    }

    .container {
        width: auto !important;
    }
</style>

<script type="text/javascript">

    function goTo(number) {
        $('ul.pager li:eq(' + number + ') a').tab('show');
        upgradePreNext(number);
    }
    function upgradePreNext(number) {
        if (number > 1) {
            $('ul.pager li:eq(0)').attr("onclick", "goTo(" + (number - 1) + ")");
            $('ul.pager li:eq(0)').attr("class", "previous");
        } else {
            $('ul.pager li:eq(0)').attr("class", "disabled");
        }

        if (number < 100) {
            $('ul.pager li:eq(101)').attr("onclick", "goTo(" + (number + 1) + ")");
            $('ul.pager li:eq(101)').attr("class", "next");
        } else {
            $('ul.pager li:eq(101)').attr("class", "disabled");
        }
    }
    $(document).ready(function () {
        $('li a').on('click', function (e) {
            goTo((e.target.innerHTML) - 0);
        });
    });

    $("#btnAceptar").click(function () {

        var selected = [];
        $('.checkboxCuestionario:radio:checked').each(function () {
            selected.push($(this).attr('id'));
            //console.log($(this).attr('id'))
        });

        $.ajax({
            url: "CerrarCuestionarioExamen",
            type: "POST",
            data: "Respuesta=" + selected,
            error: function (ex) {
                console.log(ex.responseText);
            },
            success: function (result) {
                if (result.success) {
                    window.location = result.url;
                }
            }

        });
        //console.log($('.checkboxCuestionario:radio:checked'));

    });

    function checkFluency(check) {
        //var checkbox = document.getElementById(check);
        //alert($(check).attr('id'));
        //console.log(check)
        $.ajax({
            url: "ActualizarRespuesta",
            type: "POST",
            data: "Respuesta=" + $(check).attr('id'),
            error: function (ex) {
                console.log(ex.responseText);
            },
            success: function (data) {
                //console.log(data);
            }

        });
    }


    setInterval(refrescarTiempo, 60000);

    function refrescarTiempo() {
        var tiempo = $("div.tiempoRestantediv").find("h3 b").html()
        if (tiempo <= 0) {
            $("#btnAceptar").click();
        } else {
            $("div.tiempoRestantediv").find("h3 b").html(tiempo-1)
        }
    }

</script>
