
@{
    ViewBag.Title = "ASACuestionarioInicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Preguntas ASA
            <small>Cuestionario preguntas ASA</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Cuestionario</a></li>
            <li class="active">Preguntas ASA</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div id="msjContainer"></div>
            <div class="box-header with-border">
                <h3 class="box-title">Cuestionario</h3>
            </div>
            <div class="box-body">
                <form action="@Url.Action("ASACuestionarioInicio","ASACuestionario")" method="post">
                    <div class="col-xs-12 text-center form-group">
                        @Html.DropDownList("Cuestionario", (SelectList)@ViewBag.ltSelect, "Seleccione el Cuestionario", new { @class = "form-control" })
                    </div>

                    @if (!ViewBag.ExisteASA)
                    {
                        @Html.Label("Grupos")
                        <div class="col-xs-12 text-center form-group">                            
                            @Html.DropDownList("GrupoPregunta", (SelectList)@ViewBag.ltASAGrupoPregunta, "Seleccione los Grupos", new { @class = "form-control select2", @multiple = "multiple" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Inicio de Pregunta")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-bars"></i>
                                </div>
                                @Html.Editor("PreguntaIni", new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Fin de Pregunta")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-bars"></i>
                                </div>
                                @Html.Editor("PreguntaFin", new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="col-xs-12 form-group">
                            <p class="bg-info">GENERAL 1 - 537 | AIRFRAME 538 - 1565 | POWERPLANT 1566 - 2571</p>
                        </div>

                    }


                    <div class="col-xs-12 text-center">
                        <button name="inicioCuestionario" type="submit" class="btn btn-default btn-default">Iniciar Cuestionario</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
            
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts
{
    <script>
        //$(document).ready(function () {
        //    //Initialize Select2 Elements
        //    $('.select2').select2()
            
        //})

        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

        var MensajeError = '@ViewBag.MensajeError';
        if (MensajeError != null ) {
            if (MensajeError != "") {
                muestraMesanje(3,MensajeError);
            }
        }

    });

    function muestraMesanje(tipo, msj) {

        $("#msjContainer").html('');

        if (tipo == 1) {
            $("#msjContainer").append('<div class="alert alert-success alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<strong>Operacion realizada exitosamente.</strong>&nbsp;' + msj + '</div>')
        } else if (tipo == 2) {
            $("#msjContainer").append('<div class="alert alert-danger alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;<strong>Error:</strong>' + msj + '</div>')
        } else if (tipo == 3) {
            $("#msjContainer").append('<div class="alert alert-warning alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;<strong>Atencion:&nbsp;</strong>' + msj + '</div>')
        }

    }
    </script>
}



