@model adminlte.ASAConfiguracionService.ASAConfiguracionLineaEntity



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ASA-Configuracion-Nuevo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="box-body">
            <div id="msjContainer"></div>
            <div class="form-group">
                @Html.Label("Cantidad Preguntas")
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-list-ol"></i>
                    </div>
                    @Html.EditorFor(model => model.CantidadPregunta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CantidadPregunta, "", new { @class = "text-danger" })
                    @*<input type="number" class="form-control">*@
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group">
                @Html.Label("Fecha")
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBox("FechaDoc", String.Format("{0:dd/MM/yyyy}", @Model.FechaDoc), new { @class = "form-control pull-right" })
                    @Html.ValidationMessage("FechaDoc", "", new { @class = "text-danger" })

                    @*<input type="text" class="form-control pull-right" id="datepicker">*@
                </div>
                <!-- /.input group -->
            </div>


            <div class="bootstrap-timepicker">
                <div class="form-group">
                    @Html.Label("Hora Inicio")
                    <div class="input-group">
                        @*<input type="text" class="form-control timepicker">*@
                        @Html.TextBoxFor(model => model.FechaIni, Model.FechaIni.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture), new { @class = "form-control timepicker" })
                        @Html.ValidationMessageFor(model => model.FechaIni, "", new { @class = "text-danger" })
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <p class="bg-info"><b>(12:00 AM = Primera Hora del Dia)</b></p>
                    <p class="bg-info"><b>(12:00 PM = Medio Dia)</b></p>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
            </div>

            <div class="bootstrap-timepicker">
                <div class="form-group">
                    @Html.Label("Hora Fin")
                    <div class="input-group">
                        @*<input type="text" class="form-control timepicker">*@
                        @Html.TextBoxFor(model => model.FechaFin, Model.FechaFin.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture), new { @class = "form-control timepicker" })
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <p class="bg-info"><b>(12:00 PM = Medio Dia)</b></p>
                    <p class="bg-info"><b>(12:00 AM = Final del Dia)</b></p>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
            </div>

            <div class="form-group">
                @Html.Label("Todo el Dia")
                @*<div class="input-group">*@
                <button type="button" id="btnTodoDia" class="btn btn-default">
                    Todo el Dia
                </button>
                <p class="bg-info"><b> 12:00 AM - 12:00 AM (Todo el dia) </b></p>
                @* </div> *@
                <!-- /.input group -->
            </div>

            @*<div class="col-xs-12 form-group">
                <p class="bg-info">12:00 PM = Primera Hora del Dia </p>
                <p class="bg-info">12:00 AM = Ultima Hora del Dia </p>
            </div>*@

        </div>

        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">

                Wait..
            </span>

            <input class="btn btn-primary" type="submit" value="Aceptar" />
            <button class="btn btn-warning" data-dismiss="modal" style="">
                Cerrar
            </button>
        </div>

    </div>
}

@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")*@

<script type="text/javascript">
        $(document).ready(function () {

            var MensajeError = '@ViewBag.MensajeError';
                if (MensajeError != null ) {
                    if (MensajeError != "") {
                        muestraMesanje(3,MensajeError);
                    }
                }

            //alert($('#FechaDoc').val());
            //Date picker
            $('#FechaDoc').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'dd/mm/yyyy',
                keyboardNavigation: true,
                language: 'es',
                minViewMode: 0,
                orientation: "bottom auto",
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0

            })

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })

            //$("form").on('submit', function (e) {
            //    e.preventDefault();
            //    //var len = $('#username').val().length;
            //    //if (len < 6 && len > 1) {
            //    //    this.submit();
            //    //}
            //    console.log($("#ltASAConfiguracion_0__FechaIni").val())
            //    console.log($("#ltASAConfiguracion_0__FechaFin").val())
            //    let timeFrom = $("#ltASAConfiguracion_0__FechaIni").val(),
            //        timeTo = $("#ltASAConfiguracion_0__FechaFin").val();

            //    if (!timeFrom || !timeTo) {
            //        alert('Select time');
            //        return
            //    }

            //    if (getTime(timeFrom) >= getTime(timeTo)) {
            //        alert('timeFrom field must not greater than or equal to timeTo Field');
            //    } else {
            //        alert('Time is valid')
            //    }

            //});

        })


        function muestraMesanje(tipo, msj) {

            $("#msjContainer").html('');

            if (tipo == 1) {
                $("#msjContainer").append('<div class="alert alert-success alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<strong>Operacion realizada exitosamente.</strong>&nbsp;' + msj + '</div>')
            } else if (tipo == 2) {
                $("#msjContainer").append('<div class="alert alert-danger alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;<strong>Error:</strong>' + msj + '</div>')
            } else if (tipo == 3) {
                $("#msjContainer").append('<div class="alert alert-warning alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;<strong>Atencion:&nbsp;</strong>' + msj + '</div>')
            }

    }

    $("#btnTodoDia").click(function(){
        $('#FechaIni').val('12:00 AM');
        $('#FechaFin').val('12:00 AM');
    });

</script>

<style>
    .form-horizontal .form-group {
        margin-right: 0 !important;
    }
</style>
