
@model adminlte.AdminMensualidadService.AdminMensualidadSet

@{
    ViewBag.Title = "AdminMensualidadEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebGrid grid = new WebGrid(Model.ltAdminMensualidadDetalle, // source
                                null, // columnNames
                                null, // defaultSort
                                30,   // rowsPerPage
                                true, // canPage
                                true, // canSort
                                null, // ajaxUpdateContainerId
                                null, // ajaxUpdateCallback
                                null, // fieldNamePrefix
                                null, // pageFieldName
                                null, // selectionFieldName
                                null, // sortFieldName
                                null);// sortDirectionFieldName

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Admin
            <small>Mensualidad</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Admin</a></li>
            <li class="active">Mensualidades</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div id="msjContainer"></div>
            <form action="@Url.Action("AdminMensualidadEditar","AdminMensualidad", new {EstudianteCI = Model.ltAdminMensualidad[0].EstudianteCI })" method="post" role="form" enctype="multipart/form-data">

                <div class="box-header with-border">
                    <h3 class="box-title">CIAC TAS</h3>
                </div>
                <!-- /.box-header -->
                <div class="col-sm-12">
                    @Html.ActionLink(" ", "AdminMensualidadLista", null, new { @class = "glyphicon glyphicon-circle-arrow-left ", style = "font-size:28px;" })
                </div>
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body table-responsive">

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @*@Html.Label("Cantidad Preguntas")*@
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"> @Html.Label(Model.ltAdminMensualidad[0].EstudianteCI.ToString(), new { htmlAttributes = new { @class = "form-control" } })</i>
                            </div>

                            @*@Html.ValidationMessageFor(model => model.ltASAPregunta[0].CantidadPregunta, "", new { @class = "text-danger" })*@
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>                    

                    <div class="form-group">
                        @Html.Label("Observaciones")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextAreaFor(model => model.ltAdminMensualidad[0].Observacion, new { @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.ltAdminMensualidad[0].Observacion, new SelectList(@ViewBag.ltASAGrupoPregunta as System.Collections.IEnumerable, Model.ltASAPregunta[0].GrupoPregunta), "GrupoPregunta", new { @class = "form-control controlar" })*@
                            @Html.ValidationMessageFor(model => model.ltAdminMensualidad[0].Observacion, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <p>
                        @Html.ActionLink(" ", "AdminMensualidadDetalleNuevo", new { EstudianteCI = Model.ltAdminMensualidad[0].EstudianteCI }, new { data_modal = "", @class = "glyphicon glyphicon-plus removeUlock", style = "font-size:20px;" })
                    </p>
                    <br />
                    @grid.GetHtml(
                            tableStyle: "table table-bordered",
                            headerStyle: "header",
                            alternatingRowStyle: "alt",
                            //tableStyle: "gridtable",
                            //headerStyle: "gridtable-header",
                            //alternatingRowStyle: "gridtable-alt",
                            footerStyle: "table-pager-footer",
                            columns: new[] {
                                //grid.Column("TipoDoc"),
                               // grid.Column("SubCompania"),
                                grid.Column("Mensualidad"),
                                grid.Column("Monto"),
                                grid.Column("NumeroFactura", "Numero Factura"),
                                //grid.Column("Destinatario"),
                                //grid.Column("ClaseOri"),
                                //grid.Column("Estado"),


                                grid.Column("",
                                            header:"Acciones",
                                            format:@<text>
            @Html.ActionLink(" ", "AdminMensualidadDetalleEditar", new { EstudianteCI=item.EstudianteCI, Mensualidad=item.Mensualidad},new {data_modal = "",@class = "glyphicon glyphicon-edit",style = "font-size:15px;"}) |
            @Html.ActionLink(" ", "AdminMensualidadDetalleEliminar", new { EstudianteCI=item.EstudianteCI, Mensualidad=item.Mensualidad},new {data_modal = "", @class = "glyphicon glyphicon-remove",style = "font-size:15px;"})
                                            </text>
                       )
})


                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
                @*</form>*@
            </form>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content" style="padding-top:2%;">
            <div id='myModalContent' style="padding-left:5%;"></div>
        </div>
    </div>
</div>

@*@Scripts.Render("~/Scripts/adminlte/js/modal.js")*@
<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/adminlte/js/modal.js"></script>

@*@section Scripts
    {
        <script>
            $(document).ready(function () {

                //Date picker
                $('#FechaInicial').datepicker({
                    autoclose: true,
                    beforeShowDay: $.noop,
                    calendarWeeks: false,
                    clearBtn: false,
                    daysOfWeekDisabled: [],
                    endDate: Infinity,
                    forceParse: true,
                    format: 'dd/mm/yyyy',
                    keyboardNavigation: true,
                    language: 'es',
                    minViewMode: 0,
                    orientation: "bottom auto",
                    rtl: false,
                    startDate: -Infinity,
                    startView: 2,
                    todayBtn: false,
                    todayHighlight: false,
                    weekStart: 0

                })

                //Timepicker
                $('.timepicker').timepicker({
                    showInputs: false
                })

                $("form").on('submit', function (e) {
                    e.preventDefault();
                    //var len = $('#username').val().length;
                    //if (len < 6 && len > 1) {
                    //    this.submit();
                    //}
                    console.log($("#ltASAPregunta_0__FechaIni").val())
                    console.log($("#ltASAPregunta_0__FechaFin").val())
                    let timeFrom = $("#ltASAPregunta_0__FechaIni").val(),
                        timeTo = $("#ltASAPregunta_0__FechaFin").val();

                    if (!timeFrom || !timeTo) {
                        alert('Select time');
                        return
                    }

                    if (getTime(timeFrom) >= getTime(timeTo)) {
                        alert('timeFrom field must not greater than or equal to timeTo Field');
                    } else {
                        alert('Time is valid')
                    }

                });

            })


        </script>
    }*@


@section scripts
{

    <script type="text/javascript">

     $(document).ready(function () {
        var MensajeError = '@ViewBag.MensajeError';
        if (MensajeError != null ) {
            if (MensajeError != "") {
                muestraMesanje(3,MensajeError);
            }
        }

    });

    function muestraMesanje(tipo, msj) {

        $("#msjContainer").html('');

        if (tipo == 1) {
            $("#msjContainer").append('<div class="alert alert-success alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<strong>Operacion realizada exitosamente.</strong>&nbsp;' + msj + '</div>')
        } else if (tipo == 2) {
            $("#msjContainer").append('<div class="alert alert-danger alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;<strong>Error:</strong>' + msj + '</div>')
        } else if (tipo == 3) {
            $("#msjContainer").append('<div class="alert alert-warning alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;<strong>Atencion:&nbsp;</strong>' + msj + '</div>')
        }

    }
    </script>

}
