@model IEnumerable<adminlte.TASMaterialProgramaAnaliticoService.TASMaterialProgramaAnaliticoEntity>

@{
    ViewBag.Title = "TASMaterialProgramaAnaliticoLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridAsignado = new WebGrid(Model.Where(x => x.Estado == "Asignado"), // source
                                null, // columnNames
                                "Gestion", // defaultSort
                                20,   // rowsPerPage
                                true, // canPage
                                true, // canSort
                                null, // ajaxUpdateContainerId
                                null, // ajaxUpdateCallback
                                null, // fieldNamePrefix
                                null, // pageFieldName
                                null, // selectionFieldName
                                null, // sortFieldName
                                null);// sortDirectionFieldName

    WebGrid gridProgreso = new WebGrid(Model.Where(x => x.Estado == "Progreso"), // source
                                null, // columnNames
                                "Gestion", // defaultSort
                                20,   // rowsPerPage
                                true, // canPage
                                true, // canSort
                                null, // ajaxUpdateContainerId
                                null, // ajaxUpdateCallback
                                null, // fieldNamePrefix
                                null, // pageFieldName
                                null, // selectionFieldName
                                null, // sortFieldName
                                null);// sortDirectionFieldName

    WebGrid gridConfirmado = new WebGrid(Model.Where(x => x.Estado == "Cerrado"), // source
                        null, // columnNames
                        "Gestion", // defaultSort
                        20,   // rowsPerPage
                        true, // canPage
                        true, // canSort
                        null, // ajaxUpdateContainerId
                        null, // ajaxUpdateCallback
                        null, // fieldNamePrefix
                        null, // pageFieldName
                        null, // selectionFieldName
                        null, // sortFieldName
                        null);// sortDirectionFieldName
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            TAS
            <small>Programa Analitico</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Programa Analitico</a></li>
            <li class="active">Material</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">CIAC TAS</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*<form role="form">*@
            <div class="box-body">
                <h4>Programas Analiticos Asignados</h4>
                @gridAsignado.GetHtml(
                        tableStyle: "table table-bordered",
                        headerStyle: "header",
                        alternatingRowStyle: "alt",
                        //tableStyle: "gridtable",
                        //headerStyle: "gridtable-header",
                        //alternatingRowStyle: "gridtable-alt",
                        footerStyle: "table-pager-footer",
                        columns: new[] {
                            //grid.Column("TipoDoc"),
                           // grid.Column("SubCompania"),
                            gridAsignado.Column("Programa"),
                            gridAsignado.Column("Grupo"),
                            gridAsignado.Column("Materia"),
                            gridAsignado.Column("ModuloMateria"),
                            gridAsignado.Column("Gestion"),


                            gridAsignado.Column("",
                                        header:"Acciones",
                                        format:@<text>
                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoSubirMaterial", new { SubCompania=item.SubCompania, Programa=item.Programa, Grupo=item.Grupo, Materia=item.Materia, ModuloMateria=item.ModuloMateria, Gestion=item.Gestion, InstructorNroLicencia=item.InstructorNroLicencia},new {@class = "glyphicon glyphicon-cloud-upload",style = "font-size:15px;"})
                                        </text>
                                                                                                                                                                )})


                <br />
                <br />

                <h4>Programas Analiticos en Proceso</h4>
                @gridProgreso.GetHtml(
                        tableStyle: "table table-bordered",
                        headerStyle: "header",
                        alternatingRowStyle: "alt",
                        //tableStyle: "gridtable",
                        //headerStyle: "gridtable-header",
                        //alternatingRowStyle: "gridtable-alt",
                        footerStyle: "table-pager-footer",
                        columns: new[] {
                            //grid.Column("TipoDoc"),
                           // grid.Column("SubCompania"),
                            gridProgreso.Column("Programa"),
                            gridProgreso.Column("Grupo"),
                            gridProgreso.Column("Materia"),
                            gridProgreso.Column("ModuloMateria"),
                            gridProgreso.Column("Gestion"),


                            gridProgreso.Column("",
                                        header:"Acciones",
                                        format:@<text>
                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEditarMaterial", new { SubCompania=item.SubCompania, Programa=item.Programa, Grupo=item.Grupo, Materia=item.Materia, ModuloMateria=item.ModuloMateria, Gestion=item.Gestion, InstructorNroLicencia=item.InstructorNroLicencia},new {@class = "glyphicon glyphicon-log-in",style = "font-size:15px;"})
                                        </text>
                                                                                                                                                                )})
                <br />
                <br />

                <h4>Programas Analiticos Cerrados</h4>
                @gridConfirmado.GetHtml(
                        tableStyle: "table table-bordered",
                        headerStyle: "header",
                        alternatingRowStyle: "alt",
                        //tableStyle: "gridtable",
                        //headerStyle: "gridtable-header",
                        //alternatingRowStyle: "gridtable-alt",
                        footerStyle: "table-pager-footer",
                        columns: new[] {
                            //grid.Column("TipoDoc"),
                           // grid.Column("SubCompania"),
                            gridAsignado.Column("Programa"),
                            gridAsignado.Column("Grupo"),
                            gridAsignado.Column("Materia"),
                            gridAsignado.Column("ModuloMateria"),
                            gridAsignado.Column("Gestion"),


                            gridAsignado.Column("",
                                        header:"Acciones",
                                        format:@<text>
                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarMaterial", new { SubCompania=item.SubCompania, Programa=item.Programa, Grupo=item.Grupo, Materia=item.Materia, ModuloMateria=item.ModuloMateria, Gestion=item.Gestion, InstructorNroLicencia=item.InstructorNroLicencia},new {@class = "glyphicon glyphicon-share-alt",style = "font-size:15px;"})
                                        </text>
                                                                                                                                                                )})



            </div>
            <!-- /.box-body -->
            @*</form>*@

        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<style>

    .table-pager-footer > td {
        padding-top: 10px;
    }

        .table-pager-footer > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager-footer > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
