@model adminlte.TASMaterialProgramaAnaliticoService.TASMaterialProgramaAnaliticoEntity

@{
    ViewBag.Title = "TASMaterialProgramaAnaliticoEditarMaterial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            TAS
            <small>Programa Analitico</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Programa Analitico</a></li>
            <li class="active">Editar</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">CIAC TAS</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*<form role="form">*@
            <form action="@Url.Action("TASMaterialProgramaAnaliticoEditarMaterial","TASProgramaAnalitico")" method="post" enctype="multipart/form-data">
                <div class="box-body">

                    <div class="form-group">
                        @Html.Label("Programa")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.Programa, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Programa, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Grupo")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.Grupo, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Grupo, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Materia")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.Materia, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Materia, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("ModuloMateria")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.ModuloMateria, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.ModuloMateria, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Gestion")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.Gestion, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Gestion, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("InstructorNroLicencia")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            @Html.TextBoxFor(model => model.InstructorNroLicencia, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.InstructorNroLicencia, "", new { @class = "text-danger" })
                            @*<input type="number" class="form-control">*@
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 1")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo1 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo1), Path.GetFileName(Model.Archivo1), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo1 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo1, Variable = "Archivo1", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload1">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 2")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo2 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo2), Path.GetFileName(Model.Archivo2), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo2 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo2, Variable = "Archivo2", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload2">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 3")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo3 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo3), Path.GetFileName(Model.Archivo3), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo3 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo3, Variable = "Archivo3", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload3">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 4")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo4 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo4), Path.GetFileName(Model.Archivo4), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo4 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo4, Variable = "Archivo4", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload4">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    

                    <div class="form-group">
                        @Html.Label("Archivo Nro 5")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo5 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo5), Path.GetFileName(Model.Archivo5), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo5 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo5, Variable = "Archivo5", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload5">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 6")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo6 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo6), Path.GetFileName(Model.Archivo6), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo6 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo6, Variable = "Archivo6", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload6">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 7")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo7 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo7), Path.GetFileName(Model.Archivo7), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo7 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo7, Variable = "Archivo7", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload7">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 8")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo8 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo8), Path.GetFileName(Model.Archivo8), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo8 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo8, Variable = "Archivo8", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload8">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 9")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo9 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo9), Path.GetFileName(Model.Archivo9), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo9 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo9, Variable = "Archivo9", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload9">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 10")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo10 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo10), Path.GetFileName(Model.Archivo10), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo10 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo10, Variable = "Archivo10", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload10">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        @Html.Label("Archivo Nro 11")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>

                            @if (Model.Archivo11 != "")
                            {
                                @Html.TextBox(Path.GetFileName(Model.Archivo11), Path.GetFileName(Model.Archivo11), new { @class = "form-control", @readonly = "readonly" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo11 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo11, Variable = "Archivo11", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                            }
                            else
                            {
                                <input type="file" name="FileUpload11">
                                <p class="help-block">Seleccione el documento a subir</p>
                            }

                        </div>
                        <!-- /.input group -->

                        <div class="form-group">
                            @Html.Label("Archivo Nro 12")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo12 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo12), Path.GetFileName(Model.Archivo12), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo12 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo12, Variable = "Archivo12", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload12">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 13")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo13 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo13), Path.GetFileName(Model.Archivo13), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo13 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo13, Variable = "Archivo13", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload13">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 14")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo14 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo14), Path.GetFileName(Model.Archivo14), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo14 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo14, Variable = "Archivo14", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload14">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 15")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo15 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo15), Path.GetFileName(Model.Archivo15), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo15 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo15, Variable = "Archivo15", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload15">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 16")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo16 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo16), Path.GetFileName(Model.Archivo16), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo16 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo16, Variable = "Archivo16", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload16">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 17")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo17 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo17), Path.GetFileName(Model.Archivo17), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo17 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo17, Variable = "Archivo17", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload17">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 18")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo18 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo18), Path.GetFileName(Model.Archivo18), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo18 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo18, Variable = "Archivo18", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload18">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 19")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo19 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo19), Path.GetFileName(Model.Archivo19), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo19 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo19, Variable = "Archivo19", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload19">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="form-group">
                            @Html.Label("Archivo Nro 20")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </div>

                                @if (Model.Archivo20 != "")
                                {
                                    @Html.TextBox(Path.GetFileName(Model.Archivo20), Path.GetFileName(Model.Archivo20), new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoDescargarArchivo", new { Archivo = Model.Archivo20 }, new { @class = "glyphicon glyphicon-download-alt", style = "font-size:28px;" })
                                    @Html.ActionLink(" ", "TASMaterialProgramaAnaliticoEliminarArchivo", new { Archivo = Model.Archivo20, Variable = "Archivo20", Programa = Model.Programa, Grupo = Model.Grupo, Materia = Model.Materia, ModuloMateria = Model.ModuloMateria, Gestion = Model.Gestion, InstructorNroLicencia = Model.InstructorNroLicencia }, new { @class = "glyphicon glyphicon-remove", style = "font-size:28px;color:red" })

                                }
                                else
                                {
                                    <input type="file" name="FileUpload20">
                                    <p class="help-block">Seleccione el documento a subir</p>
                                }

                            </div>
                            <!-- /.input group -->
                        </div>

                    </div>


                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Subir Archivos</button>
                </div>

            </form>

        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
