@model adminlte.TASProgramaAnaliticoService.TASProgramaAnaliticoEntity

@{
    ViewBag.Title = "TASProgramaAnaliticoAsignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            TAS
            <small>Programa Analitico</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Programa Analitico</a></li>
            <li class="active">Asignado</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">CIAC TAS</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*<form role="form">*@
            <div class="box-body">

                <div class="form-group">
                    @Html.Label("Programa")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Programa, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Programa, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Grupo")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Grupo, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Grupo, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Materia")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Materia, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Materia, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("ModuloMateria")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.ModuloMateria, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ModuloMateria, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Gestion")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Gestion, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Gestion, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("HorasTeoricas")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.HorasTeoricas, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HorasTeoricas, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("HorasPracticas")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.HorasPracticas, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HorasPracticas, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("HorasTotales")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.HorasTotales, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HorasTotales, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Nombre Instructor")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                

                <div class="form-group">
                    @Html.Label("Introduccion")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.Introduccion, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Introduccion, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Objetivo General")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.ObjetivosGeneral, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ObjetivosGeneral, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Objetivo Especifico")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.ObjetivoEspecifico, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ObjetivoEspecifico, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    @Html.Label("Desarrollo de Contenido")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.DesarrolloContenido,10,1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DesarrolloContenido, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Metodologia")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.Metodologia, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Metodologia, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Extension e Investigacion")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.ExtensionInvestigacion, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ExtensionInvestigacion, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Requisitos para Aprobar la Asignatura")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.RequisitosAprobacionAsignatura, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.RequisitosAprobacionAsignatura, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Evaluacion")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.Evaluacion, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Evaluacion, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Practicas")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.Practicas, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Practicas, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Bibliografia Obligatoria")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.BibliografiaObligatoria, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.BibliografiaObligatoria, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    @Html.Label("Bibliografia Complementaria")
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        @Html.TextAreaFor(model => model.BibliografiaComplementaria, 10, 1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.BibliografiaComplementaria, "", new { @class = "text-danger" })
                        @*<input type="number" class="form-control">*@
                    </div>
                    <!-- /.input group -->
                </div>




            </div>
            <!-- /.box-body -->
            @*</form>*@

        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


